save/
__pycache__/
*.csv
train.npy
*.json

*.pth
.ipynb_checkpoints/Devide_TrainingSet-checkpoint.ipynb
.ipynb_checkpoints/TestDataset-checkpoint.ipynb
*.json
log/alexnet/CSQ_imagenet_16.json
log/alexnet/CSQ_imagenet_32.json
log/alexnet/CSQ_imagenet_64.json
results/ot.txt
results/swd.txt
results/swdC.txt
TestNUS.bat
log/alexnet/CSQ_imagenet_16.json
log/alexnet/CSQ_imagenet_32.json
log/alexnet/CSQ_imagenet_64.json
TestNUS.bat
results/CSQ_Coco.txt
results/CSQ_Coco_CT_0.txt
results/CSQ_Coco_CT_1.txt
results/CSQ_Coco_CT_E_0.txt
results/CSQ_Coco_CT_E_1.txt
TestNUS.bat
results/CSQ_Coco.txt
TestNUS.bat
TestNUS.bat
results/CSQ_Coco_SWD.txt
results/CSQ_Coco.txt
results/CSQ_Coco_CT_E_N10_1.txt
results/CSQ_Coco_CT_E_N2_001.txt
results/CSQ_Coco_CT_E_N2_01.txt
results/CSQ_Coco_CT_E_N2_1.txt
results/CSQ_Coco_CT_E_N5_1.txt
results/CSQ_Coco_OT.txt
CodeBalanceAnalysis.ipynb
BalanceAnalysis.bat
saved_model/BerVAE_bit_16_optimizer_cf_KL_1.00_dataset_imagenet/hash_target.npy
